body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Montserrat;
}
.sidebar {
    width: 400px; 
    /* background-color: #fceee3; */
    background-color: #ebd5c3;
    height: 100vh; 
    position: fixed;
    left: 0; 
    top: 0;
    padding: 15px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.setting {
    padding: 15px;
    display: flex;
    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    gap: 15px;
}
.sidebar__icon {
    border: none;
    cursor: pointer;
    background-color: #ebd5c3;
}
.sidebar__svg {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease; 
}
.sidebar__svg:hover {
    scale: 1.1;
}
.sidebar__svg:active {
    scale: 1;
}
.new-task {
    padding: 10px;
    border: none;
    display: flex;
    gap: 15px;
    align-items: center; 
    transition: transform 0.3s ease; 
    font-family: Monsterrat;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: #000000b9;
    background-color: #ebd5c3;
    font-weight: 600;
}
.new-task:hover{
    scale: 1.06;
    background: rgba(223, 198, 181, 1);   
    border-radius: 10px;
    cursor: pointer;
}
.new-task:active {
    scale: 1;
}
.plus {
    width: 45px;
    height: 45px;
}
.task--button {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.add-task {
    font-family: Monsterrat;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: #000000b9;
}
.list, .list-groups {
    padding: 20px;
    display: flex;
}
.list-groups {
    font-size: 18px;
    font-family: Monsterrat;
    letter-spacing: 2px;
    list-style: none;
    flex-direction: column;
    line-height: 2;
    color: #000000b9;
    text-transform: uppercase;
}
.list-groups li {
    padding: 10px 10px 10px 30px;
    transition: transform 0.3s ease;
}
.list-groups li:hover {
    scale: 1.06;
    background: rgba(223, 198, 181, 1);   
    border-radius: 10px;
    cursor: pointer;
}
.list-groups li:active {
    scale: 1;
}
.list {
    justify-content: space-between;
}
.show-list {
    border: none;
    padding: 10px;
    height: 60px;
    width: 120px;
    font-size: 16px;
    font-family: Monsterrat;
    letter-spacing: 1.5px;
    color: #000000b9;
    background-color: #ebd5c3;
    text-transform: uppercase;
}
.show-list:hover {
    scale: 1.06;
    background: rgba(223, 198, 181, 1);   
    border-radius: 10px;
    cursor: pointer;
}
.show-list:active {
    scale: 1;
}
